* {
  padding: 0;
  margin: 0;
}
body {
  background: #f5f5f5;
}
.cf {
  color: #fff;
}
.c3 {
  color: #333;
}
.c9 {
  color: #999;
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.radius50 {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.radiusAll4 {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.radiusAll15 {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.disIB {
  display: inline-block;
}
.mgT10 {
  margin-top: 10px;
}
.mgT5 {
  margin-top: 5px;
}
.mgT15 {
  margin-top: 15px;
}
.mgL10 {
  margin-left: 10px;
}
.mgB10 {
  margin-bottom: 10px;
}
.pdT15 {
  padding-top: 15px;
}
.pdR20 {
  padding-right: 20px!important;
}
.w100 {
  width: 100%;
}
.group {
  background: #fff;
  clear: both;
  overflow: hidden;
  padding-bottom: 15px;
}
.user-label {
  margin-bottom: 5px;
  overflow: hidden;
  margin-left: 10px;
}
.user-label span {
  float: left;
  margin-top: 5px;
  margin-right: 8px;
  padding: 0 10px;
  color: #b2b2b2;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  font-size: 12px;
  line-height: 17px;
}
.ui-txt-info span {
  width: 70px;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  background-color: #eb0044;
  font-size: 12px;
  line-height: 30px;
  display: inline-block;
}
.transverse {
  width: 100%;
  overflow-x: hidden;
}
.transverse .prod-warp {
  width: 100%;
  overflow: hidden;
}
.transverse .prod-img {
  margin-right: 5px;
  float: left;
  position: relative;
}
.transverse .prod-img span {
  display: block;
  width: 100%;
  background-size: 100% 100%;
}
.footer-left {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}
.footer-left .footer-img {
  margin-right: 8px;
  float: left;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  background: #ddd;
  color: #333;
  font-size: 12px;
  text-align: center;
}
.footer-right {
  float: right;
  margin-top: 15px;
  margin-right: 10px;
}
.footer-right i {
  width: 18px;
  height: 18px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.footer-right .icon-share {
  background-image: url('../images/share.png');
}
.footer-right .icon-like {
  background-image: url('../images/like.png');
  margin-right: 3px;
}
.footer-right .icon-report {
  background-image: url('../images/report.png');
}
.footer-right .num {
  padding: 6px 5px;
  border-radius: 15px;
  background: #ddd;
  width: 65px;
  font-size: 12px;
  color: #333;
}
.group-footer {
  position: fixed;
  width: 100%;
  z-index: 100;
  right: 0;
  bottom: 0;
  left: 0;
  height: 49px;
  background-color: #fff;
}
.group-footer div {
  height: 49px;
  line-height: 49px;
  text-align: center;
  width: 50%;
  float: left;
}
.bgeb0044 {
  background: #eb0044;
  color: #fff;
}
.bgf {
  background: #fff;
  border-top: 1px solid #ddd;
}
.header {
  width: 100%;
  padding: 5px 10px;
}
.header li {
  position: relative;
  display: -webkit-box;
}
.header li .mark {
  position: absolute;
  bottom: 0;
  width: 16px;
  height: 16px;
  z-index: 80;
  left: 22px;
}
.header .w35h35 {
  width: 35px;
  height: 35px;
}
.header .header-details {
  -webkit-box-flex: 1;
  padding-right: 10px;
}
.header .header-details p {
  height: 20px;
}
.header .header-details span {
  padding: 3px 8px 3px;
}
.header .header-details i {
  display: block;
  font-style: normal;
  padding-left: 8px;
}
.load {
  margin: 30px auto 60px;
  width: 100%;
}
.load span {
  width: 80%;
  margin-left: 9%;
  margin-right: 9%;
  display: inline-block;
  font-size: 14px;
  color: #999;
  border: 1px solid #ddd;
  height: 35px;
  line-height: 35px;
}
